[user]
	name = Marslo
	email = marslo.jiao@gmail.com
[push]
	default = matching
[diff]
    rename = copy
[color]
    diff = always
    log = always
    status = always
    add = always
    push = always
    pull = always
    branch = always
	ui = on
[core]
	editor = vim
[pager]
    diff = diff-lines | less
[alias]
    st = status
    pl = pull
    ci = commit -am
    co = checkout

    plogs = log --color --graph\n --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'\n --abbrev-commit --date=relative
    plog = log --max-count=3 --color --graph\n --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'\n --abbrev-commit --date=relative
    flog = log -p --graph\n --color --graph

    fdiff = diff --name-status
    ldiff = !bash -c 'git diff -U0 "$@"' | diff-lines
    # ldiff = diff -U0
    wdiff = diff --color-words -U0

    rlogs = "!bash -c 'git fetch && git plogs remotes/origin/master'"
    rlog = "!bash -c 'git fetch && git plog remotes/origin/master'"
    rdiff = "!bash -c 'git fetch && git ldiff master remotes/origin/master'"
