[user]
	name = Marslo
	email = marslo.jiao@gmail.com
[push]
	default = matching
[color]
    diff = always
    log = always
    status = always
    add = always
    push = always
    pull = always
    branch = always
[core]
	editor = vim
[alias]
    plogs = log --color --graph\n --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'\n --abbrev-commit --date=relative
    plog = log --max-count=3 --color --graph\n --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'\n --abbrev-commit --date=relative
    flog = log -p --graph\n --color --graph
    st = status
    pl = pull
    ci = commit -am
    co = checkout
    fdiff = diff --name-status
