[user]
  name = Marslo
  email = marslo.jiao@gmail.com
[push]
  default = matching
[diff]
  rename = copy
# Inspired from tpope: https://github.com/tpope/tpope/blob/master/.gitconfig
[diff "ruby"]
  funcname = "^ *\\(\\(def\\) .*\\)"
[diff "image"]
  textconv = identify
[color]
  ui = true
  log = always
  status = always
  add = always
  push = always
  pull = always
  diff = always
  branch = always
  interactive = auto
[core]
	editor = vim
	pager = more
# [pager]
  # Set the default diff like diff-lines
  # diff = diff-lines | less
[alias]
  add = add --all
  st = status
  pl = pull
  ci = commit -am
  co = checkout

  plogs = log --color --graph\n --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'\n --abbrev-commit --date=relative
  plog = log --max-count=3 --color --graph\n --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'\n --abbrev-commit --date=relative
  flog = log -p --graph\n --color --graph

  fd = diff --name-status
  wd = diff --color-words -U0
  # ld = !bash -l -c 'git diff -U0 "$@" | diff-lines' -
  ld = !bash -c '. ~/.marslo/.marslorc && git diff -U0 "$@" | diff-lines' -
  # ldiff = diff -U0

  rlogs = "!bash -c 'git fetch && git plogs remotes/origin/master'"
  rlog = "!bash -c 'git fetch && git plog remotes/origin/master'"
  rdiff = "!bash -c 'git fetch && git ld master remotes/origin/master'"

  # info = !bash -l -c 'gitinfo'
  info = !bash -c '. ~/.marslo/.marslorc && gitinfo'
	last = cat-file commit HEAD

  # curbranch = "!bash -c 'git branch | grep \* | sed "s/\* \(.*\)/ (\1)/"'"
