[user]
  name = Marslo
  email = marslo.jiao@gmail.com
[push]
  default = matching
[diff]
  rename = copy
# Inspired from tpope: https://github.com/tpope/tpope/blob/master/.gitconfig
[diff "ruby"]
	funcname = \"^ */(/(def/) .*/)\"
[diff "image"]
  textconv = identify
[color]
  ui = true
  log = always
  status = always
  add = always
  push = always
  pull = always
  diff = always
  branch = always
  interactive = auto
[color "branch"]
  current = green bold
  local = yellow
  remote = red
[color "status"]
  added = yellow
  changed = red bold
  untracked = magenta normal dim
[color "diff"]
  meta = blue bold
  frag = magenta
  old = red bold
  new = green bold
  whitespace = red reverse
[core]
  editor = vim
  pager = more
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
# [pager]
  # Set the default diff like diff-lines
  # diff = diff-lines | less
[alias]
  add = add --all
  st = status
  pl = pull
  ci = commit -am
  co = checkout
  br = branch
  cl = clean -dfx
  sb = show-branch
  cb = rev-parse --abbrev-ref HEAD
  wc = whatchanged

  fd = diff --name-status
  wd = diff --color-words -U0
  # ld = !bash -l -c 'git diff -U0 "$@" | diff-lines' -
  ld = !bash -c '. ~/.marslo/.marslorc && git diff -U0 \"$@\" | diff-lines' -
  # ldiff = diff -U0

  ign = ls-files -o -i --exclude-standard
  plogs = log --color --graph/n --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'/n --abbrev-commit --date=relative plog = log --max-count=3 --color --graph/n --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'/n --abbrev-commit --date=relative
  flog = log -p --graph/n --color --graph
  clog = log --color --graph --all --decorate --simplify-by-decoration --oneline
  pshow = show -s --pretty='format:%Cred%h%Creset %Cgreen(%s)%Creset'

  rlogs = \"!bash -c 'git fetch && git plogs remotes/origin/master'\"
  rlog = \"!bash -c 'git fetch && git plog remotes/origin/master'\"

  rdiff = \"!bash -c 'git fetch && git ld master remotes/origin/master'\"
  ndiff = git diff --name-only

  # info = !bash -l -c 'gitinfo'
  info = !bash -c '. ~/.marslo/.marslorc && gitinfo'
  last = cat-file commit HEAD
  task = grep -EI \"TODO|FIXME\"

  # curbranch = "!bash -c 'git branch | grep \* | sed "s/\* \(.*\)/ (\1)/"'"
